streamlit
langchain
langchain-community
langchain-text-splitters
pypdf
faiss-cpu
python-dotenv
tqdm
sentence-transformers
google-genai
langchain-huggingface
pypdf
python-docx
openpyxl
python-pptx
beautifulsoup4